{% extends "core/base.html" %}

{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="grid-box">
  <div class="side-nav">
    <div class="header">
      <h1>Inventory</h1>
    </div>
    <hr id="hr">
    <div class="menu">
      <div class="menu-item" onclick="openView(event, 'dashboard')" id="defaultOpen">
        <div class="menu-item-img">
          <img src="{% static 'Images/speedometer.png' %}" alt="dashboard">
        </div>
        <p>Dashboard</p>
      </div>
      <a href="{% url 'Order:home' %}">
        <div class="menu-item">
          <div class="menu-item-img">
            <img src="{% static 'Images/order.png' %}" alt="order">
          </div>
          <p>POS</p>
        </div>
      </a>
      <div class="menu-item" onclick="openView(event, 'item')">
        <div class="menu-item-img">
          <img src="{% static 'Images/product.png' %}" alt="items">
        </div>
        <p>Items</p>
      </div>
      <div class="menu-item" onclick="openView(event, 'invoice')">
        <div class="menu-item-img">
          <img src="{% static 'Images/invoice.png' %}" alt="Invoices">
        </div>
        <p>Invoices</p>
      </div>
      <div class="menu-item" onclick="openView(event, 'supplier')">
        <div class="menu-item-img">
          <img src="{% static 'Images/postman.png' %}" alt="Supplier">
        </div>
        <p>Supplier</p>
      </div>
      <div class="menu-item" onclick="openView(event, 'reports')">
        <div class="menu-item-img">
          <img src="{% static 'Images/statistics.png' %}" alt="Reports">
        </div>
        <p>Reports</p>
      </div>
    </div>
    <!-- <a href="{% url 'Mpesa:lipa_na_mpesa' %}">
      <div class="logout">
        <div class="logout-img">
          <img src="{% static 'Images/logout.png' %}" alt="Logout">
        </div>
        <h4>Logout</h4>
      </div>
    </a> -->
  </div>
  <div class="content-area">
    <div class="content-top">
      <form action="#">
        <input type="text" name="" id="" placeholder="Search">
      </form>
      <div class="profile">
        <div class="profile-img">
          <img src="{{ user_profile.profile_img.url }}" alt="profile-img">
        </div>
        <div class="profile-info">
          <h4>{{ request.user.username }}</h4>
          <span>
            {% for group in request.user.groups.all %}
            {{ group.name }}
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div id="order" class="tabcontent">
        <h4 id="header">Order</h4>
        <p id="more-info">Make orders in this tab</p>
        <div class="order">
          <div class="menu-box">
            {% for category in categories %}
            <div class="menu-categories" onclick="menuItem(event, '{{ category.title }}')">
              <h4>{{ category.title }}</h4>
            </div>
            {% endfor %}
            <div class="menu-contents">
              {% for category in categories %}
              <div id="{{ category.title }}" class="tabcontents">
                <h4 id="header">{{ category.title }}</h4>
                <div class="menu-items">
                  {% for item in items %}
                  {% if item.category == category %}
                  <div class="menu--item">
                    <p>{{ item.name }}</p>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="cart"></div>
        </div>
      </div>
      <div id="dashboard" class="tabcontent">
        <h4 id="header">Dashboard</h4>
        <p id="more-info">This tab shows generalized information</p>
        <div class="dashboard">
          <div class="summary-info">
            <div class="summary">
              <img src="{% static 'Images/pakistani.png' %}" alt="">
              <div class="summary-details">
                <p>Users</p>
                <h4>{{ users.count }}</h4>
              </div>
            </div>
            <div class="summary">
              <img src="{% static 'Images/product.png' %}" alt="">
              <div class="summary-details">
                <p>Items</p>
                <h4>{{ items.count }}</h4>
              </div>
            </div>
            <div class="summary">
              <img src="{% static 'Images/options.png' %}" alt="">
              <div class="summary-details">
                <p>Categories</p>
                <h4>{{ categories.count }}</h4>
              </div>
            </div>
            <div class="summary">
              <img src="{% static 'Images/branding.png' %}" alt="">
              <div class="summary-details">
                <p>Brands</p>
                <h4>{{ brands.count }}</h4>
              </div>
            </div>
          </div>
          <!-- <div class="dash-items">
            <h4>Latest Items</h4>
            <div class="items">
              {% for item in items reversed %}
              <div class="item">
                <div class="item-img">
                  <img src="{{ item.item_img.url }}" alt="">
                </div>
                <div class="item-info">
                  <h4>{{ item.name }}</h4>
                  <p>Quantity: {{ item.quantity }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="dash-users">
            <h4>Latest Users</h4>
            <div class="users">
              {% for user in users reversed %}
              <div class="user">
                {% for user_profile in user_profiles %}
                {% if user_profile.user == user %}
                <div class="user-img">
                  <img src="{{ user_profile.profile_img.url }}" alt="">
                </div>
                {% else %}
                {% endif %}
                {% endfor %}
                <div class="user-info">
                  <h4>{{ user.username }}</h4>
                </div>
              </div>
              {% endfor %}
            </div>
          </div> -->
        </div>
      </div>
      <div id="item" class="tabcontent">
        <h4 id="header">Items</h4>
        <div class="items"></div>
      </div>
      <div id="invoice" class="tabcontent">
        <h4 id="header">Invoices</h4>
        <div class="invoices"></div>
      </div>
      <div id="supplier" class="tabcontent">
        <h4 id="header">Supplier</h4>
        <div class="supplier"></div>
      </div>
      <div id="reports" class="tabcontent">
        <h4 id="header">Reports</h4>
        <div class="reports"></div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'Js/home.js' %}"></script>
{% endblock %}