@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bgcolor: #007355;
  --sec-bgcolor: #2d2d2d;
  --white: #ffffff;
  --grey: grey;
  --aliceblue: aliceblue;
  --whitesmoke: whitesmoke;
  --red: #ec1848;
  --border-radius: 0.3rem;
  --logo-font: "Josefin Sans", sans-serif;
  --footer-font: "Nunito", sans-serif;
  --font-1: "Quicksand", sans-serif;
  --links-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--whitesmoke);
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 30rem;
}

.tops {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  animation: fade-away 1s 6s forwards;
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  border-radius: 0.3rem;
  margin-top: 0.35rem;
}

#flash {
  font-family: system-ui;
  letter-spacing: 1px;
  font-size: 15px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
}
