.cash-box {
  font-family: var(--font-1);
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  background-color: var(--white);
}

.directions {
  margin-top: 5rem;
  min-width: 50vw;
}

.directions a {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: var(--sec-bgcolor);
  background-color: var(--whitesmoke);
  max-width: max-content;
  border-radius: var(--border-radius);
  padding: 0 1rem;
}

.directions img {
  max-height: 2rem;
  transition: 0.2s ease-in-out;
}

.payment-box {
  padding: 2rem;
  background-image: linear-gradient(60deg, #c3e9de, #e4cdee, #fac2d9, #c2dbe9);
  min-width: 50vw;
  border-radius: var(--border-radius);
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-info h1 {
  font-family: var(--logo-font);
}

.order-info p > span {
  font-weight: bold;
  font-family: var(--logo-font);
  font-size: 1.8ch;
}

.payment-box hr {
  border: none;
  outline: 1px solid var(--aliceblue);
  margin: 1rem 0;
}

.total {
  text-align: center;
  padding: 2rem;
}

.total h4 {
  font-family: var(--logo-font);
  font-size: 5ch;
}

form {
  display: grid;
  gap: 1rem;
}

input,
button {
  border: none;
  border-radius: var(--border-radius);
  padding: 1em;
  cursor: pointer;
  font-family: var(--font-1);
  font-size: 1.6ch;
}

input {
  background-color: var(--aliceblue);
  text-align: center;
  font-weight: bold;
  font-family: var(--logo-font);
  font-size: 2ch;
}

button {
  background-color: var(--main-bgcolor);
  color: var(--white);
  text-transform: uppercase;
}
