.grid-box {
  display: flex;
  gap: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.side-nav {
  background-color: var(--main-bgcolor);
  min-width: 15vw;
  max-width: 15vw;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.hide-side-nav {
  display: none;
}

#hr {
  outline: 1px solid var(--whitesmoke);
  background-color: var(--whitesmoke);
  border: none;
  border-radius: 30rem;
  max-width: 100%;
}

.header {
  border-radius: 0.3rem;
  color: var(--white);
  padding: 1rem;
}

.header h1 {
  font-family: var(--logo-font);
}

.menu,
.settings {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.menu-item {
  padding: 0.6rem;
  border: none;
  border-radius: var(--border-radius);
  text-align: left;
  cursor: pointer;
  color: var(--white);
  font-family: var(--font-1);
  font-size: 2ch;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.active,
.actives,
.menu-item:hover {
  background-color: var(--white);
  color: var(--sec-bgcolor);
}

.menu-item:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: var(--white);
}

.menu-item-img {
  max-height: 1.5rem;
}

.menu-item-img img,
.logout-img img {
  max-height: 1.5rem;
  border-radius: 50%;
}

.settings {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  margin-top: 10rem;
}

.settings .menu-item {
  outline: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 30rem;
}

.settings .menu-item:first-child {
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
}

.content-area {
  background-color: var(--aliceblue);
  /* min-width: calc(100vw - 15vw); */
  flex-grow: 1;
  font-family: var(--font-1);
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--white);
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.burger > .div {
  height: 0.1rem;
  width: 1.5rem;
  border-radius: 30rem;
  background-color: var(--sec-bgcolor);
}

.content-top form input {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8em 1em;
  font-size: 1.6ch;
  background-color: var(--sec-bgcolor);
  color: var(--whitesmoke);
  text-transform: capitalize;
}

.content-top form input::placeholder {
  color: var(--whitesmoke);
}

.main-content-box {
  padding: 1rem 1rem 0.2rem;
  font-family: var(--font-1);
  min-height: calc(100vh - 4.1rem);
  max-height: calc(100vh - 4.1rem);
  overflow: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  min-height: calc(100vh - 5.3rem);
  overflow: auto;
}

.cart {
  background-image: linear-gradient(60deg, #c3e9de, #e4cdee, #fac2d9, #c2dbe9);
  box-shadow: 1px 1px 20px -16px var(--sec-bgcolor);
  padding: 1rem;
  border-bottom: var(--border-radius);
  min-width: 20rem;
  max-width: 20rem;
  border-radius: var(--border-radius);
  min-height: 100%;
}

.category-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.category {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: #e4cdee;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.category:nth-child(1) {
  background-color: #c3e9de;
}

.category:nth-child(2) {
  background-color: #e4cdee;
}

.category:nth-child(3) {
  background-color: #fac2d9;
}

.category:nth-child(4) {
  background-color: #c2dbe9;
}

.category:nth-child(7) {
  background-color: #e6dade;
}

.category:nth-child(5),
.category:nth-child(6) {
  display: none;
}

.category-img img {
  max-height: 2rem;
}

.category-info h4 {
  font-size: 2.2ch;
}

.category-info p {
  color: var(--grey);
  margin-top: 0.2rem;
}

.main-content hr {
  margin: 1rem 0;
}

#tab-header {
  font-family: var(--logo-font);
  letter-spacing: 1px;
  font-size: 2.5ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tab-header img {
  max-height: 1.4rem;
}

#tab-header span {
  font-size: 0.8ch;
  color: var(--grey);
  font-family: var(--font-1);
}

.items-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-height: 21rem;
  overflow: auto;
  padding-right: 0.5rem;
}

.item {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
  height: max-content;
}

.highlight {
  background-image: linear-gradient(60deg, #c3e9de, #e4cdee, #fac2d9, #c2dbe9);
}

.item h4 {
  font-size: 2.2ch;
  font-family: var(--logo-font);
  color: #212121;
}

.item p {
  margin-top: 1rem;
  font-size: 1.6ch;
  color: #212121;
}

#quantity {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#add,
#minus {
  border: none;
  min-height: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  background-color: var(--main-bgcolor);
  color: var(--white);
  font-family: var(--font-1);
  font-size: 2ch;
  cursor: pointer;
  font-weight: bold;
}

#quantity span {
  min-width: 2rem;
  text-align: center;
  background-color: var(--whitesmoke);
  font-family: var(--font-1);
  border-radius: var(--border-radius);
}

#category-hr {
  border: none;
  outline: 1px solid var(--grey);
  opacity: 0.2;
}

.select {
  display: none;
}

.select-category {
  text-align: center;
  font-family: var(--logo-font);
  padding: 1rem;
  width: max-content;
  margin-inline: auto;
  color: var(--grey);
  font-size: 2.2ch;
}

.cart-box {
  min-height: calc(100% - 1.5rem);
  overflow: hidden;
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
}

.order-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  min-height: max-content;
  max-height: 17.5rem;
  overflow: auto;
  padding-right: 0.4rem;
}

.cart-info {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: max-content;
}

.quantity {
  background-color: var(--main-bgcolor);
  color: white;
  min-width: 1rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.2ch;
  transform: translateX(0);
  transition: 250ms ease-in-out;
}

#deleteimg {
  max-height: 1.5rem;
  transform: translateY(-5rem);
  transition: 250ms ease-in-out;
  transition-delay: 50ms;
  position: absolute;
  inset: 0.7rem auto auto 0.7rem;
}

.cart-info:hover .quantity,
.cart-info:hover .order-item {
  transform: translateX(2rem);
}

.cart-info:hover #deleteimg {
  transform: translateY(0);
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 0.6rem;
  transform: translateX(0);
  transition: 250ms ease-in-out;
}

#price {
  font-weight: bold;
  font-family: var(--logo-font);
}

.amount-details {
  background-color: rgb(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: var(--border-radius);
  height: max-content;
}

.amount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.amount-details hr {
  margin: 1rem 0;
  border: none;
  outline: 1px solid var(--whitesmoke);
}

.total {
  margin: 0;
}

.total > p {
  font-size: 2ch;
}

.price {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 2ch;
}

.cart-items {
  background-color: rgb(255, 255, 255, 0.3);
  display: grid;
  align-items: center;
  min-height: 100%;
}

.empty {
  padding: 1rem;
  border-radius: var(--border-radius);
  text-align: center;
  max-height: max-content;
}

.empty-img img {
  max-height: 2rem;
}

.cart-checkout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6rem;
}

.payment {
  display: flex;
  gap: 0.6rem;
}

.cart-checkout a {
  width: 100%;
}

.cart-checkout a button {
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-1);
  font-size: 1.6ch;
  padding: 0.8em;
  width: 100%;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cart-checkout a button img {
  max-height: 1.5rem;
}

#pay,
#cash {
  background-color: var(--main-bgcolor);
  color: white;
}

#cash {
  background-color: teal;
}

#cash:disabled {
  background-color: var(--grey);
}

#cancel {
  background-color: var(--red);
  color: var(--white);
}

.order-box {
  margin-top: 1rem;
  display: grid;
  gap: 0.6rem;
  padding: 0 0.3rem 1rem;
  max-height: calc(100vh - 9.1rem);
  overflow: auto;
}

.order-card {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
  cursor: pointer;
}

.True {
  background-image: linear-gradient(60deg, #c3e9de, #e4cdee, #fac2d9, #c2dbe9);
}

.order-card-summary {
  display: grid;
  grid-template-columns: 5rem 5rem auto auto;
  gap: 1rem;
  align-items: center;
}

.order-card-summary h4 {
  font-family: var(--logo-font);
  font-size: 2ch;
  max-width: max-content;
}

.order-card-stats {
  background-color: var(--whitesmoke);
  padding: 0.2rem 0.8rem;
  border-radius: 30rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: max-content;
}

.order-card-stats p {
  font-size: 1.3ch;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
}

.order-card-stats p img {
  max-height: 1rem;
}

.order-date {
  color: var(--main-bgcolor);
  font-family: var(--font-1);
  font-size: 1.5ch;
  font-weight: bold;
  flex-grow: 1;
  text-align-last: right;
}

.order-card hr {
  margin: 1rem 0;
  border: none;
  outline: 1px solid var(--whitesmoke);
}

.card-content {
  display: none;
  max-width: calc(100vw - 20rem);
  overflow: auto;
}

.card-content-box {
  display: flex;
  gap: 1rem;
  padding: 0.2rem 0.2rem 0.5rem;
}

.card-order-item {
  padding: 0.8rem;
  border-radius: var(--border-radius);
  outline: 2px solid var(--whitesmoke);
  min-width: 12rem;
  max-width: max-content;
}

#true,
#closed {
  padding: 0.2rem 0.8rem;
  font-size: 1.3ch;
  border-radius: 30rem;
  font-family: var(--font-1);
  max-width: max-content;
}

#true {
  color: var(--main-bgcolor);
  background-color: #e9fef3;
}

#closed {
  background-color: #fef3f1;
  color: var(--red);
}
